/* Style sheet for Astra */
/*Author: Kruthi Venkatesh*/
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*background: url('../img/bg.jpg') no-repeat center center fixed;*/
    background-color: beige;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.navbar-nav {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.img-full {
    min-width: 100%;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-top: 80px;
    padding: 15px;
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
    padding:0;
}

.box_bg{
    background-color: #f6f6f6;
}
.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

.navbar-brand{
    width: 150px;
    height: 70px;
}

.heading{
    font-weight: 300;
    font-size: 3.5em;
    line-height: 1.5;
}

footer {
    margin-top: 10px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 20px 0;
}

.navbar-default {
    border: none;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

@media screen and (min-width:768px) {
    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 20px;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}